/* Medium */
@media (max-width: 991px) {
  /* MAIN HEADER */
  .main-header .left-header {
    gap: 3.5rem;
  }

  .main-header ul {
    gap: 1rem;
    font-size: 15px;
  }

  .header .img-bg img {
    width: 550px;
  }

  /* FEATURES */
  .features .about .image {
    display: none;
  }

  .features .text-content {
    text-align: center;
  }

  .features .about .benefit {
    flex-direction: column;
  }
}

/* Small */
@media (max-width: 767px) {
  /* MAIN HEADER */
  .main-header ul {
    display: none;
  }

  .main-header .right-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main-header .btn {
    padding-inline: 1rem;
  }

  .main-header .bar {
    display: block;
  }

  /* HERO */
  .hero {
    width: 92%;
  }

  .hero h1,
  .hero .email {
    width: 100%;
  }

  .hero h1 {
    font-size: 29px;
  }

  .header .img-bg img {
    width: 200px;
  }

  /* FEATURES */
  .features .special-content {
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    justify-content: center;
  }

  .special-title {
    font-size: 35px;
    margin-bottom: 15px;
  }

  .features .box {
    text-align: center;
  }

  .features .box .icon {
    margin: 0 auto;
  }

  .features .about {
    padding: 2rem;
  }

  .about h2 {
    font-size: 20px;
  }

  .about p {
    font-size: 12px;
  }
}
