/* Medium */
@media (max-width: 991px) {
  /* MAIN HEADER */
  .main-header .left-header {
    gap: 3.5rem;
  }

  .main-header ul {
    gap: 1rem;
    font-size: 15px;
  }

  .header .img-bg img {
    width: 550px;
  }

  /* FEATURES */
  .features .about .image {
    display: none;
  }

  .features .text-content {
    text-align: center;
  }

  .features .about .benefit {
    flex-direction: column;
  }
}

/* Small */
@media (max-width: 767px) {
  /* SPECIAL DESIGN */
  .btn-up {
    opacity: 0.5;
  }
  /* MAIN HEADER */
  .main-header ul {
    display: none;
  }

  .main-header .right-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .main-header .btn {
    padding-inline: 1rem;
  }

  .main-header .bar {
    display: block;
  }

  /* HERO */
  .hero {
    width: 92%;
  }

  .hero h1,
  .hero .email {
    width: 100%;
  }

  .hero h1 {
    font-size: 29px;
  }

  .header .img-bg img {
    width: 200px;
  }

  /* FEATURES */
  .features .special-content {
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    justify-content: center;
  }

  .special-title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .features .box {
    text-align: center;
  }

  .features .box .icon {
    margin: 0 auto;
  }

  .features .about {
    padding: 2rem;
  }

  .about h2,
  .download-app h2 {
    font-size: 20px;
  }

  .about p,
  .download-app p {
    font-size: 12px;
  }

  .download-app .paraph {
    width: fit-content;
  }

  /* OTHER FEATURES */
  .other-features .content {
    flex-direction: column;
    gap: 30px;
    align-items: stretch;
  }

  .other-features .img {
    align-self: center;
  }

  .other-features img {
    width: 300px;
  }

  /* COUNTER */
  .counter .content {
    flex-direction: column;
    gap: 25px;
    align-items: stretch;
  }

  .counter .slide-video {
    flex-direction: column;
    gap: 30px;
  }

  .counter .left {
    width: 100%;
  }

  .counter .left img {
    width: 100%;
    height: fit-content;
  }

  .counter .left .cont {
    margin-left: 0;
  }

  .counter .right {
    width: 100%;
  }

  .counter .right .btns {
    display: none;
  }

  /* Pricing */
  .pricing .feedbacks {
    flex-direction: column;
    gap: 40px;
  }

  .feedbacks .text-content p {
    text-align: center;
  }

  .feedbacks .text-content .command {
    justify-content: center;
    text-align: center;
  }

  .feedbacks .btns-two {
    display: none;
  }

  /* FOOTER */
  .footer .content {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .footer .box:first-child,
  .footer .box:last-child {
    width: inherit;
  }

  .footer .box .social-media {
    justify-content: center;
  }

  .footer .box .info {
    align-items: center;
  }

  .footer .copyright {
    flex-wrap: wrap;
    gap: 20px;
  }

  .footer .copyright .text p {
    font-size: 13px;
  }

  .footer .copy {
    width: 100%;
    text-align: center;
  }
}
