/* Variables */
:root {
  --btn-color: #ff3e66;
  --main-bg: #eef1f6;
  --box-shadow: 0px 10px 20px 6px #d8dce3;
  --font-color: #0e1133;
  --padding-block: 60px;
  --opacity: 0.7;
}

/* Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

button {
  border: none;
  outline: none;
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}

/* Small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.special-btn {
  display: flex;
  font-size: 13px;
  width: fit-content;
  font-weight: bold;
  border: 2px solid var(--main-bg);
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
}

.btn-up {
  width: 30px;
  height: 30px;
  background-color: #f3b8c8;
  color: #f3f5f9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

/* Header */
.header {
  width: 100%;
  height: 100vh;
  background-color: var(--main-bg);
  position: relative;
  overflow: hidden;
}

.header .main-header {
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .left-header {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.main-header ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-header ul li {
  display: flex;
  gap: 0.5rem;
}

.main-header ul a {
  color: var(--font-color);
}

.main-header ul i {
  font-size: 10px;
}

.main-header .btn {
  padding: 0.7rem 1.5rem;
  background-color: var(--btn-color);
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.main-header .bar {
  display: none;
  font-size: 18px;
  cursor: pointer;
}

/* HERO */
.hero {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.hero h1 {
  width: 40%;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero h1 span {
  font-weight: 700;
}

.hero p {
  font-size: 13px;
}

.hero .email {
  width: 35%;
  margin-block: 2rem;
  position: relative;
}

.hero .email input {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 50px;
  border: none;
  box-shadow: -2px 0 0 0 var(--btn-color), 0px 10px 20px 6px #d8dce3;
}

.hero .email i {
  color: var(--btn-color);
  font-size: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero .email .envolope {
  left: 10px;
}

.hero .email .arrow {
  right: 10px;
  cursor: pointer;
}

.hero .feedback {
  display: flex;
  align-items: center;
}

.hero .imgs {
  position: relative;
  width: 130px;
  height: 40px;
}

.hero .imgs img {
  position: absolute;
  width: 40px;
  padding: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.hero .img-1 {
  z-index: 9;
}

.hero .img-2 {
  left: 25px;
  z-index: 8;
}

.hero .img-3 {
  left: 50px;
  z-index: 7;
}

.hero .img-4 {
  left: 75px;
  z-index: 6;
}

.feedback .content div {
  font-size: 18px;
  font-weight: bold;
}

.feedback .content span {
  display: block;
  font-size: 11px;
}

/* IMAGE BACKGROUND */
.header .img-bg {
  position: absolute;
  bottom: -4px;
  right: 0;
  z-index: 1;
}

.header .img-bg img {
  width: 600px;
}

/* FEATURES */
.features {
  padding-block: var(--padding-block);
}

.features .special-content {
  display: flex;
  justify-content: space-between;
}

.special-title {
  font-size: 40px;
  margin-bottom: 15px;
}

.special-title + p {
  font-size: 15px;
  opacity: var(--opacity);
}

.features .btn-feature {
  align-self: flex-end;
  font-size: 13px;
  font-weight: bold;
  background-color: #fff;
  border: 2px solid var(--main-bg);
  padding: 0.8rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.features .content {
  margin-block: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.features .box {
  padding: 2rem;
  border: 1px solid var(--main-bg);
  border-radius: 6px;
}

.features .box .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .box:first-child .icon {
  background-color: #2facfc;
}

.features .box:nth-child(2) .icon {
  background-color: #ea4d89;
}

.features .box:nth-child(3) .icon {
  background-color: #3679ff;
}

.features .box:nth-child(4) .icon {
  background-color: #f67842;
}

.features .box:nth-child(5) .icon {
  background-color: #6b88f7;
}

.features .box:last-child .icon {
  background-color: #3bb094;
}

.features .box .icon i {
  color: #fff;
}

.features .box h2 {
  font-size: 18px;
  margin-top: 20px;
}

.features .box p {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: var(--opacity);
  line-height: 1.4;
}

.features .box .read {
  font-size: 11px;
  color: #6c6c72;
  font-weight: bold;
  cursor: pointer;
}

.features .about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  background-color: var(--main-bg);
  overflow: hidden;
}

.about .image {
  width: 85%;
  height: 300px;
  position: relative;
}

.about .image img {
  width: 400px;
  position: absolute;
  left: 50%;
  bottom: -190px;
  transform: translateX(-50%);
}

.about .market,
.download-app .market {
  color: var(--btn-color);
  font-size: 12px;
  font-weight: bold;
}

.about h2,
.download-app h2 {
  font-size: 33px;
  margin-block: 20px 15px;
}

.about p,
.download-app p {
  font-size: 13px;
  opacity: var(--opacity);
}

.about .benefit,
.download-app .benefit {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

.about .cont {
  display: flex;
  gap: 10px;
}

.about .icon i {
  color: var(--btn-color);
  font-size: 20px;
}

.about .text h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.about .text p {
  font-size: 11px;
  opacity: var(--opacity);
}

/* OTHER FEATURES */
.other-features {
  background-color: var(--font-color);
  padding-block: var(--padding-block);
  color: #fff;
}

.title-two {
  margin: 0 auto;
  text-align: center;
}

.other-features .content {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.other-features .boxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.other-features .box {
  display: flex;
  gap: 15px;
  padding: 1.5rem;
  border: 1px solid #202234;
  border-radius: 5px;
}

.other-features .icon {
  width: 13px;
  height: 13px;
  margin-top: 4px;
  border-radius: 50%;
}

.other-features .box:first-child .icon {
  background-color: #ff3e66;
  box-shadow: 0 0 0 5px #2a182d;
}

.other-features .box:nth-child(2) .icon {
  background-color: #2eacfc;
  box-shadow: 0 0 0 5px #15233d;
}

.other-features .box:last-child .icon {
  background-color: #33c956;
  box-shadow: 0 0 0 5px #14242d;
}

.other-features h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.other-features p {
  font-size: 11px;
  opacity: var(--opacity);
}

.other-features img {
  width: 400px;
}

/* COUNTER */
.counter {
  padding-block: var(--padding-block);
}

.counter .content {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.counter .box {
  text-align: center;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

.counter .box .icon {
  width: 50px;
}

.counter .box h3 {
  font-size: 30px;
}

.counter .box p {
  font-size: 13px;
  opacity: var(--opacity);
  margin-top: 5px;
}

.counter .slide-video {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.counter .left {
  width: 68%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.counter .left .img {
  position: relative;
}

.counter .left img {
  width: 100%;
  height: 270px;
}

.counter .left .icon {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.counter .left .icon::before {
  content: "";
  width: 62px;
  height: 62px;
  position: absolute;
  border-radius: inherit;
  border-width: 1px;
  border-style: solid;
  z-index: -1;
  border-color: var(--main-bg);
}

.counter .left .icon i {
  color: var(--btn-color);
}

.counter .left .cont {
  margin-left: 100px;
}

.counter .left .cont h3 {
  font-size: 20px;
}

.counter .left .cont p {
  font-size: 13px;
  margin: 10px 0 20px;
}

.counter .right {
  width: 29%;
}

.counter .right img {
  width: 100%;
}

.counter .right .btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
}

.counter .right .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.counter .right .icon i {
  font-size: 13px;
  color: #929295;
}

/* DOWNLOAD APP */
.download-app {
  padding-block: var(--padding-block);
  background-color: var(--main-bg);
}

.download-app .paraph {
  width: 380px;
  line-height: 1.4;
}

.download-app .cont {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5rem 1.3rem;
  border: 1px solid var(--font-color);
  border-radius: 10px;
  cursor: pointer;
}

.download-app .cont:first-child {
  background-color: var(--font-color);
  color: #fff;
}

.download-app .cont:last-child {
  background-color: #fff;
}

.download-app .cont i {
  font-size: 30px;
}

.download-app .cont p {
  font-size: 11px;
  font-weight: bold;
}

.download-app .cont h3 {
  font-size: 18px;
}

/* PRICING */
.pricing {
  padding-block: var(--padding-block);
}

.pricing .btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: var(--padding-block) auto;
  text-align: center;
  padding: 4px;
  border: 1px solid var(--main-bg);
  border-radius: 50px;
  width: fit-content;
}

.pricing .btns button {
  font-size: 11px;
  font-weight: bold;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 50px;
  cursor: pointer;
}

.pricing .btns button:first-child {
  color: #fff;
  background-color: var(--btn-color);
}

.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.pricing .box {
  padding: 2rem;
  border: 1px solid var(--main-bg);
  border-radius: 5px;
  height: fit-content;
}

.pricing .box:nth-child(2) {
  border-top: 3px solid var(--btn-color);
  box-shadow: var(--box-shadow);
  position: relative;
  overflow: hidden;
}

.pricing .box:nth-child(2)::after {
  content: "Most popular";
  font-size: 11px;
  color: #fff;
  font-weight: bold;
  padding: 5px 15px;
  background-color: #2a6df5;
  border-radius: 50px;
  position: absolute;
  right: -8px;
  top: 20px;
}

.pricing .box:nth-child(2) .special-btn {
  color: #fff;
  background-color: var(--btn-color);
}

.pricing .plans .text {
  margin-block: 20px;
}

.pricing .plans .text h3 {
  position: relative;
  font-size: 35px;
  margin-bottom: 10px;
}

.pricing .plans .text h3::before {
  content: "\24";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 18px;
  position: relative;
  top: -9px;
  margin-right: 5px;
}

.pricing .plans .text h3::after {
  content: "/month";
  font-size: 10px;
  font-weight: 400;
  position: relative;
  bottom: 0;
}

.pricing .plans .text p {
  font-size: 13px;
  opacity: var(--opacity);
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e1e5ec;
}

.pricing .plans .content {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pricing .plans .cont {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pricing .plans .cont i {
  width: 30px;
  height: 30px;
  color: #5b8ff7;
  background-color: var(--main-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing .feedbacks {
  margin-top: var(--padding-block);
  padding: var(--padding-block) 1rem;
  background-color: #2c6ff4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.feedbacks .img-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.feedbacks .img-content img {
  border-radius: 50%;
}

.feedbacks .img-content .icons i {
  color: #ffb848;
}

.feedbacks .img-content .review {
  font-size: 13px;
  font-weight: bold;
}

.feedbacks .text-content p {
  max-width: 500px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.feedbacks .text-content .command {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedbacks .text h3 {
  font-size: 17px;
  margin-bottom: 5px;
}

.feedbacks .text span {
  font-size: 14px;
  opacity: var(--opacity);
}

.feedbacks .btns-two {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feedbacks .btns-two .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--main-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* PLATFORMS */
.platforms {
  padding-block: var(--padding-block);
}

.platforms .sponsers {
  margin-top: var(--padding-block);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.platforms .sponser {
  padding: 2rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

/* FOOTER */
.footer {
  padding-block: var(--padding-block);
  background-color: var(--main-bg);
}

.footer .content {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: var(--padding-block);
}

.footer .box:first-child,
.footer .box:last-child {
  width: 220px;
}

.footer .box img,
.footer .box h3 {
  margin-bottom: 20px;
}

.footer .box h3 {
  font-size: 18px;
}

.footer .box p {
  opacity: var(--opacity);
  line-height: 1.4;
}

.footer .box .read {
  font-weight: bold;
  color: var(--font-color);
  display: block;
  margin-block: 15px 20px;
}

.footer .box .read i {
  opacity: var(--opacity);
}

.footer .box .social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer .box .social-media i {
  width: 30px;
  height: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer ul li {
  opacity: var(--opacity);
  font-weight: bold;
}

.footer ul a {
  color: var(--font-color);
}

.footer .box .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: var(--opacity);
}

.footer .box .inf {
  opacity: var(--opacity);
  display: flex;
  gap: 10px;
  line-height: 1.4;
}

.footer .box .inf i {
  font-size: 14px;
  margin-right: 8px;
}

.footer .copyright {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .download {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer .download .cont {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.footer .download .cont:first-child {
  background-color: #fff;
}

.footer .download .cont:last-child {
  border: 1px solid #e1e5ec;
}

.footer .copy {
  font-size: 14px;
  opacity: var(--opacity);
}
